body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

thead th {
  background-color: #4d73be !important;
  color: white;
  border: white solid 2px !important;
}

tbody tr:nth-child(odd) {
  background: #d0d5e8;
  border: white solid 2px !important;
}

tbody tr:nth-child(even) {
  background: #e9ebf4;
  border: white solid 2px !important;
}
